.page-menu
  max-width: 800px
  margin: auto
  h1
    width: 100%

    text-align: center
    height: 80px
    @include flex-full-centered

  .section-menu
    min-height: calc(100vh - 160px)

    display: grid
    gap: 12px
    grid-template-columns: 1fr
    margin: 0 18px 18px 18px

    @media only screen and (min-width: $tabletBreakpoint)
      grid-template-columns: 1fr 1fr

    .card
      background: $redDark
      color: $white
      border-radius: 8px
      overflow: hidden

      height: 200px
      @include shadow-card

      display: grid
      grid-template-columns: 1fr 2fr
      grid-template-rows: min-content 1fr

      grid-template-areas: "img title" "img description"

      img
        grid-area: img
        height: 200px
        width: 100%
        object-fit: cover
        object-position: top center

        @media only screen and (min-width: $desktopBreakpoint)

      h2,
      p
        padding: 0 20px

      h2
        grid-area: title

        width: 100%

        align-self: end
        justify-self: center

        text-transform: capitalize
        padding-top: 10px
        margin: 6px 0

      p
        grid-area: description
        overflow: hidden
        height: 100%
      @include text-bloc
