.section-admin
    max-width: 800px
    margin: 24px auto

    display: grid
    gap: 8px
    @media only screen and (min-width: $desktopBreakpoint)
        margin: 24px auto

    h2
        display: flex
        align-items: center
        height: 44px
        padding: 0 12px
        margin-bottom: 44px
        @media only screen and (min-width: $desktopBreakpoint)
            padding: 0
    .drop-container
        position: absolute
        margin-top: 44px

        width: 100vw
        max-width: 800px
        padding: 0 12px

        display: grid
        gap: 12px
        grid-auto-flow: column
        grid-auto-columns: 1fr
        justify-content: center
        @media only screen and (min-width: $desktopBreakpoint)
            padding: 0
        .dropdown
            width: 100%

            .select-ghost h4,.caret h4
                font-size: 12px

            @media only screen and (min-width: $desktopBreakpoint)
                padding: 0
                .select-ghost h4,.caret h4
                    font-size: unset

    .admin-subtitle,.admin-instructions
        width: 100%
        padding: 0
        text-align: left
        @media only screen and (min-width: $desktopBreakpoint)
            padding: 0

    form
        display: grid
        gap: 6px

        grid-auto-flow: row
        grid-auto-rows: min-content
        grid-template-rows: unset

        align-items: center
        justify-items: center

        width: 100%
        max-width: 800px
        margin: 0 auto

        border-top: 1px solid $gray3
        border-radius: 0
        @media only screen and (min-width: $desktopBreakpoint)
            border-radius: 12px
        .empty
            height: 44px

        .btn
            width: 300px

        input
            color: $gray9

        input[type=submit]
            color: $white

        .input-title,.input-ingredient,.input-price
            height: $mob-button-height

        .input-description
            height: 120px
