.page-category
  @include page-layout

  h1
    @include page-layout-h1
    background: $red

  .btn-300
    width: 300px
    margin: 24px
    @media only screen and (min-width: $desktopBreakpoint)
      margin: 32px

.section-description
  width: 100%
  max-height: 100px
  overflow: hidden

  @media only screen and (min-width: $desktopBreakpoint)
    width: 800px
    margin: auto

  p
    background: $gray3
    padding: 12px 18px
    @include text-bloc
    @media only screen and (min-width: $desktopBreakpoint)
      columns: 2
      padding: 18px 0
    @media only screen and (min-width: 1200px)
      columns: 3

.empty-list
  opacity: 0.5
